
* {
  box-sizing: border-box;
  padding:0px;
  margin:0px;
}

/*------------------------------*/
nav {
  min-width: 100%;
  margin-left: 8vw;
  margin-top: 6vh;
  margin-bottom: 8vh;
}

nav a {
  font-family:helvetica;
  margin-right: 5%;
  text-decoration: none;
  color: black;
  transition: color 0.5s;

}


.logos {
  margin-bottom: 48px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.logos img {
  margin-right: 16px;
}

.logos img:nth-child(1) {
  margin-top: 24px;
}


/*------------------------------*/

.about {
  display: flex;
  flex-direction: row;
  align-content: center;
  min-width: 100%;
  font-family: helvetica;
  color: #696969;
  margin-left: 8vw;
}

.about div{
  min-width: 200px;
  width: 80%;
}

.about img{
  width: 25%;
  height: 25%;
  max-width: 200px;
  min-width: 175px;
  margin-right: 48px;
}

.about p {
}

.about ul {
  margin-top: 8px;
  font-weight: 600;
  margin-bottom: 24px;
}

.about ul li {
  margin-left: 16px;
  font-weight: 300;
  margin-bottom: 4px;
}

@media screen and (max-width: 760px) {


}

@media screen and (max-width: 610px) {
  /* .logos img {
    width: 150px;
  } */

  .about div {
    margin-top: 48px;
  }

  .about img {
    width: 20%;
    min-width: 175px;
    margin:0;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}
