
* {
  box-sizing: border-box;
  padding:0px;
  margin:0px;
  font-family:helvetica;
}

/*------------------------------*/
/* nav {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  /* padding-left: 15%; */
/* } */

.container {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding-left: 8vw;
}

a {

  margin-right: 5%;
  text-decoration: underline;
  color: orange;
  transition: color 0.5s;
}


.logos {
  min-width: 90%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 6vh;
  padding-bottom: 8vh;
}


.logos img:nth-child(1) {
  margin-right: 16px;
  margin-top: 16px;
}


/*------------------------------*/



.about {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #696969;
  /* padding-left: 25%; */
}

.polaroid {
  max-width: 231px;
  max-height: 368px;
  min-width: 210px;
  min-height: 334px;
  margin-right: 48px;
  /* display: inline-block; */
}

.polaroid img {
  max-width: 100%;
  max-height: 100%;
}


.currently ul {
  margin-top: 8px;
  font-weight: 600;
  margin-bottom: 24px;
}

.currently ul li {
  margin-left: 16px;
  font-weight: 300;
  margin-bottom: 4px;
}


@media screen and (max-width: 660px) {
  .container {
    padding: 0;
    justify-content: center;
  }

  .logos {
    padding-left: 4vw;
    padding-bottom: 6vh;
  }

  .currently {
    margin-top: 48px;
  }

  .polaroid {
    /* width: 20%; */
    /* min-width: 175px; */
    width: 210px;
    height: 334px;
    margin:0;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.content {
  width: 90%;
  max-width: 720px;
  min-width: 420px;
}
