---
layout: default
title: 'south korea'
---
{% include lightslider.html %}

<div class='photo'>
  <div class='places'>
    <ul>
      <li><a href='/photos'>loosies</a></li>
      <li><a href='/photos/south-korea.html' class='selected'>south korea</a></li>
      <li><a href='/photos/taiwan.html'>taiwan</a></li>
    </ul>
  </div>
  <ul id="content-slider" class="content-slider">
    {% for image in site.static_files %}
      {% if image.path contains 'portfolio/south-korea' %}
      <li>
          <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
