---
layout: default
title: photo-test
---

<link type="text/css" rel="stylesheet" href="/css/lightslider.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/lightslider.js"></script>

<style>
.lslide {
  height: 75vh;
  display:flex;
}

.lslide img {
  max-height: 650px;
  width: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

</style>

<script>
   $(document).ready(function() {
  $("#content-slider").lightSlider({
            loop:true,
            keyPress:true,
            mode:'fade',
            item:1
        });
});

</script>


<div class='photo'>
  <!-- <div>
    <ul>
      <li>loosies</li>
      <li>taiwan</li>
      <li>south korea</li>
    </ul>
  </div> -->
  <ul id="content-slider" class="content-slider">

    {% for image in site.static_files %}
      {% if image.path contains 'portfolio/loosies' %}
      <li>
          <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
