<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" href="getRandomImage(random_images_array, '/img/coffee/smol/')">
			<meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="/js/jquery-3.4.1.min.js"></script>
	    <script src='/js/main.js'></script>
	    <script type="text/javascript">

	      // place your images in this array
	      var random_images_array = ['aeropress.svg', 'chemex.svg', 'french-press.svg', 'hario-v60.svg', 'moka-pot.svg'];

	      function getRandomImage(imgAr, path) {
	          path = path || '/img/coffee/smol/'; // default path here
	          var num = Math.floor( Math.random() * imgAr.length );
	          var img = imgAr[ num ];
	          var imgStr = '<img src="' + path + img + '" alt = "">';
	          document.write(imgStr); document.close();
	      }

	    </script>
	    <link href="/css/style.css" rel="stylesheet" type="text/css">
		</head>
		<body>
			<header class='container'>

	      <nav class= 'top-nav'>
	        <ul class='nav-list'>
	          <li>
	            <a href ='/index.html' class='nav-link'>home</a>
	          </li>
	          <li>
	            <a href ='/blog' class='nav-link'>blog</a>
	          </li>
	          <li>
	            <a href ='/photos' class='nav-link'>photos</a>
	          </li>
	        </ul>
	      </nav>

	      <div class='inner-container'>
	        <div class='logos'>
	          	<p><a href='/'>norm.</a></p>
	          	<script type="text/javascript">getRandomImage(random_images_array, '/img/coffee/smol/')</script>
	        </div>
	        <div class='menu-toggler'>
	          <div class='bar half start'></div>
	          <div class='bar'></div>
	          <div class='bar half end'></div>
	        </div>
	      </div>
	    </header>


			{{ content }}

			<footer class='container'>
				<div class='inner-container'>
					<div class='trademark-container'>
						<img src='/img/everything.svg'>
						<div class='trademark'>
							<p>ALL RIGHTS RESERVED 2020</p>
							<p>in between dreams</p>
							<p>roll with the punches</p>
						</div>
					</div>
					<div class='social'>
						<a href='https://github.com/nmasanga' target="_blank">github</a>
						<a href='https://www.linkedin.com/in/norman-masanga/' target="_blank">linkedin</a>
						<a href='https://medium.com/@normcore' target="_blank">medium</a>
						<a href='https://getpocket.com/@normcore' target="_blank">pocket</a>
						<a href='https://www.goodreads.com/review/list/106040361-norman-masanga?shelf=read' target="_blank">goodreads</a>
					</div>
				</div>
			</footer>
		</body>
	</html>
