---
layout: default
---


<!-- <div class='photo'>
  <div>
    <ul>
      <li><a href='/photos'>loosies</a></li>
      <li><a href='/photo/taiwan/'>taiwan</a></li>
      <li><a href='/photo/taiwan/'>south korea</a></li>
    </ul>
  </div>
  <ul id="content-slider" class="content-slider">
    {% for image in site.static_files %}
      {% if image.path contains 'portfolio/loosies' %}
      <li>
          <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
      </li>
      {% endif %}
    {% endfor %}


  </ul>
</div> -->
